.post {
    margin-bottom: $v-gutter* 3.8;

    .post-title {
        letter-spacing: 0;
        @include desktop-only{
                font-size: $font-medium;
                line-height: 20px;
            }
    }

    .post-link {
        display: block;
    }

    .post-cover {
        margin-bottom: 12px;
        width: 100%;
        @include touch{
            margin-bottom: 0;
        }
    }

    .post-description {
        margin-top: 7px;
        @include desktop-only{
            display: none;
        }
    }
}
