<header class="header fixed">
    <div class="container auth">
        <a class="logo-compact" href="#">Pokeroff</a>
        <a class="logo" href="#">Pokeroff</a>
        <div class="header-logged__navbar">
            <div class="profile-link">
                <a href="#">Doctoroff</a>
                <ul class="profile-link__submenu">
                    <li>
                        <a href="#">Клуб Pokeroff</a>
                    </li>
                    <li>
                        <a href="#">Профиль</a>
                    </li>
                    <li>
                        <a href="#">Видео</a>
                    </li>
                    <li>
                        <a href="#">Настройки</a>
                    </li>
                    <li>
                        <a href="#">Выйти</a>
                    </li>
                </ul>
            </div>
            <div class="vip-chat-control">
                <span class="ctrl-label">Vip-консультант</span>
                <span class="ctrl-label short">Vip</span>
                <a class="btn ctrl-btn select-js" href="#">Начать чат</a>
            
                <div class="vip-chat-overlay">
                    <div class="vip-chat select-method">
                        <div class="vip-chat-container">
                            <a class="vip-chat-close close-js" href="#" title="Закрыть">Закрыть</a>
                            <div>
                                <img class="vip-chat-avatar" src="{{ assets('images/chat-avatar.png') }}" />
                            </div>
                            <div class="vip-chat-body">
                                Выбери способ связи:<br />
                                <a class="btn skype" href="#"><span>Skype</span></a><br />
                                <a class="btn telegram" href="#"><span>Telegram</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="header full">
    <div class="header-logged__navbar_full">
    <div class="container auth">
        <a class="logo" href="#">Pokeroff</a>
    </div>

        <div class="profile-link">
            <a href="#">Doctoroff</a>
            <ul class="profile-link__submenu">
                <li>
                    <a href="#">Клуб Pokeroff</a>
                </li>
                <li>
                    <a href="#">Профиль</a>
                </li>
                <li>
                    <a href="#">Видео</a>
                </li>
                <li>
                    <a href="#">Настройки</a>
                </li>
                <li>
                    <a href="#">Выйти</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h1>Надежный аффилейт.</h1>
            <div class="sub-title">Нам доверяют Feruell, Purity, Hint и другие PRO. Выплачиваем рейкбек более 12 лет.</div>
            <h3>Мы предлагаем</h3>
            <ul class="options">
                <li>Рейкбек до 90%</li>
                <li>Выплаты за 24 часа</li>
                <li>Доступ в китайские румы</li>
                <li>Страховка банкролла</li>
                <li>Бесплатный майнинг и софт</li>
                <li>Помощь в настройке</li>
            </ul>
        </div>

        <div class="vip-chat select-method">
            <div class="vip-chat-container">
                <a class="vip-chat-close close-js" href="#" title="Закрыть">Закрыть</a>
                <div>
                    <img class="vip-chat-avatar" src="{{ assets('images/chat-avatar.png') }}" />
                </div>
                <div class="vip-chat-body">
                    Выбери способ связи:<br />
                    <a class="btn skype" href="#"><span>Skype</span></a><br />
                    <a class="btn telegram" href="#"><span>Telegram</span></a>
                </div>
            </div>
        </div>

        <div class="vip-chat is-active">
            <div class="vip-chat-container">
                <h3 class="vip-chat-title">VIP-консультант</h3>
                <div class="vip-chat-body">
                    Для игроков<br />с рейком <b>от $500</b>
                </div>
                <div>
                    <img class="vip-chat-avatar" src="{{ assets('images/chat-avatar.png') }}" />
                </div>
                <a class="btn select-js" href="#">Начать чат</a>
            </div>
        </div>

    </div>

</header>
