%row {
    display: flex;
    flex-wrap: wrap;
}

@mixin r-row($offest: mh) {
    @extend %row;

    @include r-each-if('/grid/gutter') {
        @include offset(u(r-get('/grid/gutter') / -2) $offest);
    }
}

@mixin r-col($key, $offest: ph) {

    @include r-each-if($key) {
        $width: 100% / r-get('/layout/columns') * r-get($key);

        flex: 0 0 $width;
        max-width: $width;

        @if ($offest and r-has('/grid/gutter')) {
            @include offset(u(r-get('/grid/gutter') / 2) $offest);
        }
    }
}
