section {

    .section-slim {
        max-width: 920px;
        margin: auto;

        &:first-child {
            margin-top: 0px;
        }
    }

    .select-room-category {
        margin-bottom: 25px;

        div {

            &:first-child {
                font-size: 18px;
                line-height: 38px;
                float: left;
                margin-right: 15px;
            }

        }

        select {
            border: 1px solid $accent-color;
            padding: 10px 50px;
            color: $text-default-color;
            font-size: 18px;
            line-height: 28px;
            height: 38px;
            width: 300px;
            box-shadow: none !important;
            outline: none !important;
            cursor: pointer;

            &:focus {
                box-shadow: none !important;
                outline: none !important;
            }
        }

    }

    .catalogue-title {
        font-size: 48px;
        line-height: 58px;
    }

    .catalogue-text {
        font-size: 18px;
        line-height: 28px;
        margin-top: 35px;
        padding-right: 100px;
    }

    .catalogue-footer {
        margin-bottom: 100px;
    }

    .link-underline {
        border-bottom: 1px solid $link-color;

        &:hover {
            text-decoration: none !important;
            border-bottom: 1px solid $text-black-color;
        }
    }

    .games-list-more {
        margin: 30px 0px 50px 0px;
        text-align: center;
    }

}

@media (max-width: 959px) and (min-width: 720px) {

    .section-slim {
        max-width: 600px !important;
    }
    .catalogue-title {
        font-size: 40px !important;
        line-height: 50px !important;
    }
    .game-post {
      .game-header {
        margin-top: 0px !important;
        height: initial !important;
        padding: 0px 30px !important;
        .ico {
          float: none !important;
          margin-left: 0px !important;
          margin-top: -1px !important;
          margin-bottom: 20px !important;
      }
  }
  .game-body {
    padding: 0px 30px 0px 50px !important;
    margin-top: 25px !important;
    margin-bottom: 80px !important;
    ul li {
      font-size: 14px !important;
      line-height: 18px !important;
      padding-left: 0px !important;
  }
}
}

}

@media (max-width: 720px) {
    .section-slim {
        max-width: 600px !important;
    }
    .catalogue-title {
        font-size: 24px !important;
        line-height: 30px !important;
    }
    .catalogue-text {
        font-size: 14px !important;
        line-height: 24px !important;
        margin-top: 20px !important;
        padding-right: 0px !important;
    }
    .games-list {
        margin-top: 30px !important;
    }
    .games-list-more {
        margin: 15px 0px 30px 0px !important;
    }
    .game-post {
      flex-basis: 49% !important;
      .game-body ul li {
        font-size: 14px !important;
        line-height: 18px !important;
        padding-left: 0px !important;
    }
}
}

@media (max-width: 400px) {

    .game-post {
        flex-basis: 100% !important;
    }

}
