section {

    .select-room-category {
        margin-bottom: 20px;
        @include desktop-only{
            margin-bottom: 8px;
        }
        @include touch{
            margin-top: -22px !important;
            margin-bottom: 9px;
        }

        div {

            &:first-child {
                font-size: $font-big;
                line-height: 38px;
                float: left;
                margin-right: 15px;
                @include desktop-only{
                    font-size: $font-medium;
                    margin-right: 9px;
                }
                @Include touch{
                    font-size: $font-medium;
                }
            }

        }

        select {
            border: 1px solid $accent-color;
            padding: 5px 15px;
            color: $text-default-color;
            font-size: $font-big;
            line-height: 28px;
            height: 38px;
            width: 100%;
            max-width: 320px;
            box-shadow: none;
            outline: none;
            cursor: pointer;


            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

    }

    .catalogue-title {
        font-size: $title-font-biggest;
        line-height: 58px;
        @include desktop-only{
            font-size: $title-font-extra-large;
            line-height: 50px;
        }
        @include touch{
            font-size: $font-extra-large;
            line-height: 30px;
        }
    }

    .catalogue-text {
        font-size: $font-big;
        line-height: 28px;
        margin-top: 30px;
        padding-right: 100px;
        @include desktop-only{
            font-size: $font-medium;
            margin-top: 23px;
            line-height: 26px;
        }
        @include touch{
            font-size: $font-small;
            line-height: 20px;
            margin-top: 20px;
            padding-right: 0px;
        }
    }

    .catalogue-footer {
        margin-bottom: 90px !important;
        @include desktop-only{
            margin-bottom: 25px !important;
        }
    }

    .link-underline {
        border-bottom: 1px solid $link-color;

        &:hover {
            text-decoration: none !important;
            border-bottom: 1px solid $text-black-color;
        }
    }

    .games-list-more {
        margin: 30px 0px 40px 0px;
        text-align: center;
        @include desktop-only{
            margin: 25px 0 36px;
        }
        @include touch {
            margin: 15px 0px 30px 0px;
        }
    }
}
