.section-full {
  @include desktop-only{
    max-width: 720px;
    margin: auto;
  }
  @include touch{
    max-width: 100%;
    // margin: auto;
  }
}

.poker-room-section{
  &.section-medium {
    max-width: 840px;
    margin-left: 100px;
    @include desktop-only{
      max-width: 540px;
      margin-left: 65px;
      padding-right: 0;
    }
    @include touch{
      max-width: 100%;
      margin: auto;
      padding-right: 0;
    }

    >*:first-child {
      margin-top: 0px;
    }
  }
}

.read-more-right {
  i {
    transform: none !important;
  }
}

.make-review {
  line-height: 46px;
  background: $second-color;
  color: $white-color;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: $font-big;
  padding: 0px 25px;
}

.poker-room-header {
  background: radial-gradient(at bottom, $gray-color, $dark-gray);
  text-align: center;
  padding: 44px 0px 50px;
  @include desktop-only{
    padding: 33px 0px 40px;
    letter-spacing: 3px;
  }
  @include touch{
    padding-top: 20px;
  }

  .name-room {
    font-size: $font-extra-big;
    line-height: 28px;
    color: $white-color;
    display: flex;
    justify-content: center;
    @include touch{
      font-size: $font-small;
    }

    .room-word {}

    .room-ico {
      width: 28px;
      height: 28px;
      margin: 0px 15px;

      img {
        width: 100%;
      }
    }

    .room-link {
      a {
        border-bottom: 1px solid $white-color;
        color: $text-white-color;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid $second-color;
        }
      }
    }
  }

  .title-room {
    color: $white-color;
    @include font('header');
    font-size: $title-font-extra-biggest;
    line-height: 60px;
    max-width: 960px;
    margin: 15px auto 0px auto;
    @include desktop-only{
      font-size: $title-font-extra-big;
      line-height: 50px;
      max-width: 660px;
    }
    @include touch{
      font-size: $font-very-large;
      line-height: 30px;
      max-width: 100%;
      padding: 0px 20px;
    }
  }

  .go-to-room-div {
    .go-ro-room {
      font-size: $font-medium;
      line-height: 47px;
      padding: 0px 37px;
      background: $second-color;
      color: $white-color;
      margin-top: 24px;
      box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.45);

      i {
        margin-left: 4px;
        margin-top: -3px;
        vertical-align: middle;
        height: 15px;
        width: 17px;
        @include bg('arrow.svg');
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }
}

.room-advances {
  clear: both;
  margin-bottom: 48px;
  @include desktop-only{
    margin-bottom: 40px;
  }
  @include touch{
    margin-bottom: 44px;
  }

  .left {
    width: 50%;
    float: left;
    padding-right: 80px;
    @include desktop-only{
      padding-right: 29px;
    }
    @include touch{
      width: 100%;
      float: none;
      padding-right: 0px;
      margin-top: 25px;
    }

    ul {
      margin-left: 25px;
      // list-style-image: url($img-directory + '/check.svg');

      li {
        font-size: $font-big;
        line-height: 24px;
        margin-bottom: 11px;
        padding-left: 5px;
        position: relative;
        &:before{
          content: '';
          @include bg('check.svg');
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          position: absolute;
          left: -24px;
          top: 0;
          transform: translateY(50%);
          width: 15px;
          height: 15px;
        }
        @include desktop-only{
          font-size: $font-medium;
          line-height: 24px;
          margin-bottom: 8px;
          padding-left: 10px;
        }
        @include touch{
          font-size: $font-small;
          line-height: 20px;
          margin-bottom: 9px;
          padding-left: 9px;
        }
      }
    }
  }

  .right {
    width: 50%;
    float: right;
    @include touch{
      width: 100%;
      float: none;
    }

    .room-manager {
      width: 550px;
      border: 1px solid $light-color;
      box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.05);
      margin-top: -50px;
      display: flex;
      @include desktop-only{
        width: 360px;
      }
      @include touch{
        width: 289px;
        margin: -50px auto 0px auto;
      }

      .profile {
        background: $white-color;
        min-width: 250px;
        padding: 25px 0 0 0;
        border-right: 1px solid $light-color;
        @include touch{
          min-width: 203px;
        }

        .avatar {
          margin: 0px 0px 10px 0px;
          text-align: center;

          img {
            border-radius: 100%;
          }
        }

        .name {
          color: $black-color;
           @include font('header');
          font-size: $font-large;
          line-height: 22px;
          text-align: center;
        }

        .line {
          background: $light-color;
          height: 1px;
          width: 30px;
          margin: 15px auto;
        }

        .about {
          text-align: center;
          font-size: $font-small;
          line-height: 20px;
        }
      }

      .links {
        background: $body-grey-bg-color;
        min-width: 300px;
        border-right: 1px solid $light-color;
        @include desktop-only{
          min-width: 110px;
        }
        @include touch{
          min-width: 85px;
        }

        .one-link {
          border-bottom: 1px solid $light-color;
          display: block;
          height: 69px;
          padding: 0px 30px;
          color: $text-default-color;
          font-size: $font-small;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          line-height: 70px;
          @include desktop-only{
            padding: 0px 40px;
          }
          @include touch{
            padding: 0px 25px;
            text-align: center;
          }

          span{
            @include desktop-only{
              display: none;
            }
            @include touch{
              display: none;
            }
          }

          &:hover {
            opacity: .6;
            text-decoration: none;
          }

          &:last-child {
            border-bottom: none;
          }

          i {
            margin-right: 4px;
            margin-top: -3px;
            vertical-align: middle;
            height: 24px;
            width: 24px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            @include desktop-only{
              width: 30px;
              height: 30px;
            }
            @include touch{
              width: 30px;
              height: 30px;
              margin-right: 0px;
            }
          }

          &.link-sk {
            i {
              @include bg('soc-skype.svg');
            }
          }

          &.link-tg {
            i {
              @include bg('soc-telegram.svg');
            }
          }

          &.link-wa {
            i {
              @include bg('soc-whatsapp.svg');
            }
          }

          &.link-em {
            i {
              @include bg('soc-email.svg');
            }
          }
        }
      }
    }
  }
}

.enter-image {
  margin-bottom: 48px;
  @include desktop-only{
    margin-bottom: 39px;
  }
  @include touch{
    height: 276px;
    position: relative;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 43px;
  }

  img {
    max-width: 100%;
    @include touch{
      width: auto;
      max-width: unset;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

    }
  }
}

.poker-room-title {
  font-size: $font-biggest;
  font-weight: 600;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 17px;
  @include desktop-only{
    font-size: $font-extra-large;
    line-height: 30px;
    margin-top: 43px;
  }
  @include touch{
    font-size: $font-large;
    line-height: 28px;
  }
}

.poker-room-text {
  font-size: $font-big;
  line-height: 24px;
  margin-top: 10px;
  @include desktop-only{
    font-size: $font-medium;
  }
  @include touch{
    font-size: $font-small;
    line-height: 20px;
    > a{
      display: block;
      border-bottom: 0;
      text-decoration: underline;
    }
  }
}

.poker-room-ul {
  list-style-type: square;
  margin-left: 35px;
  margin-top: 10px;

  li {
    font-size: $font-big;
    line-height: 24px;
    margin-bottom: 11px;
    @include touch{
      font-size: $font-small;
      line-height: 20px;
    }
  }
}

.poker-room-img {
  max-width: 100%;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  @include desktop-only{
    max-width: 88%;
  }
  @include touch{
    max-width: 83%;
  }
}

.poker-room-body{
  @include desktop-only{
    padding-top: 27px;
  }
}

.video {
  margin-top: 25px;
  margin-bottom: 25px;

  iframe {
    width: 100%;
    height: 500px;
    @include desktop-only{
      // width: 100%;
      height: 330px;
    }
    @include touch{
      // width: 100%;
      height: 200px;
    }
  }
}

.faq-quest {
  font-size: $font-big;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 15px;
  @include desktop-only{
    margin-top: 18px;
  }
  @include touch{
    font-size: $font-small;
    line-height: 20px;
  }
}

.faq-answer {
  font-size: $font-big;
  line-height: 24px;
  margin-bottom: 15px;
  margin-left: 40px;
  @include desktop-only{
    font-size: $font-medium;
  }
  @include touch{
    font-size: $font-small;
    line-height: 20px;
  }
}

.all-user-quest-block {
  text-align: center;
  margin-top: 60px;
  @include desktop-only{
    margin-top: 23px;
  }
  @include touch{
    text-align: center;
    margin-top: 30px;
  }
}

.user-quest {
  background: $body-grey-bg-color;
  padding: 27px 0px;
  margin-top: 115px;
  @include bg('quest.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  @include desktop-only{
    margin-top: 94px;
  }
  @include touch{
    padding: 26px 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 96px;
    letter-spacing: 0;
  }

  .user-quest-title {
    font-size: $font-small;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    @include desktop-only{
      letter-spacing: 2px;
    }

    &.yes-quest {
      color: $second-color;

      span:last-child {
        color: $accent-color;
      }
    }

    &.no-quest {
      color: $black-color;
      @include touch{
        line-height: 22px;
      }
    }
  }

  .make-quest-div {
    text-align: center;
    margin-top: 16px;

    .make-quest {
      font-size: $font-big;
      line-height: 44px;
      padding: 0px 28px;
      background: $second-color;
      color: $white-color;
      text-transform: none;
      letter-spacing: normal;
      font-weight: 400;
    }
  }
}

.user-quest-block {
  .one-user-quest {
    padding: 25px 30px 25px 30px;
    border-bottom: 1px solid $light-color;
    display: block;
    color: $second-color;
    font-size: $font-large;
    line-height: 30px;
    @include desktop-only{
      font-size: $font-big;
      line-height: 26px;
    }
    @include touch{
      font-size: $font-big;
      line-height: 26px;
      font-size: $font-medium;
      line-height: 22px;
      padding: 25px 0px;
    }

    &:hover {
      opacity: .6;
      text-decoration: none !important;
    }

    .text-link {
      padding-right: 30px;
    }

    .user-quest-comments {
      font-size: $font-big;
      white-space: nowrap;

      i {
        margin-right: 4px;
        margin-top: -3px;
        vertical-align: middle;
        height: 18px;
        width: 20px;
        display: inline-block;
        background: no-repeat center / contain;
        @include bg('comment.svg');
      }
    }
  }
}

.user-reviews {
  background: $body-grey-bg-color;
  padding: 26px 0px;
  margin-top: 100px;
  @include touch{
    padding: 30px 20px;
    margin-left: -10px;
    margin-right: -10px;
  }

  >* {
    @include touch{
      position: relative;
      z-index: 10;
      
    }
  }

  &.no-rewiew {
    margin-bottom: 100px;
    @include bg('quote.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    @include touch{
      margin-bottom: 50px;
    }
    .user-reviews-title {
      color: $black-color;
    }
  }


  &.yes-rewiew {
    margin-bottom: 154px;
    position: relative;
    @include touch{
      margin-bottom: 50px;
      background: none;
      padding-bottom: 0px;
    }

    &:before{
      @include touch{
        content: "";
        position: absolute;
        background: $body-grey-bg-color;
        height: 207px;
        width: 100%;
        z-index: -1;
        left: 0px;
        top: 0px;
      }
    }
    .user-reviews-title {
      width: 350px;
      color: $second-color;
      letter-spacing: 2px;
      @include desktop-only{
        width: 260px;
      }
      @include touch{
        width: 100%;
      }

      >.hidden-xs {
        @include desktop-only{
          display: none;
        }
        @include touch{
          display: none;
        }
      }

      + .clearfix {
        @include desktop-only{
          margin-bottom: 100px;
        }
        @include touch{
          display: none;
        }
      }

      span {
        color: $accent-color;
      }
    }
    .make-review-div {
      width: 350px;
      @include desktop-only{
        width: 260px;
      }
      @include touch{
        width: 100%;
      }
    }
  }

  .user-reviews-title {
    font-size: $font-small;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
  }


  .make-review-div {
    text-align: center;
    margin-top: 16px;

    .make-review {
      font-size: $font-big;
      line-height: 44px;
      padding: 0px 26px;
      background: $second-color;
      color: $white-color;
      text-transform: none;
      letter-spacing: normal;
      font-weight: 400;
      @include desktop-only{
        padding: 0px 25px;
      }
      @include touch{
        padding: 0px 25px;
      }
    }
  }
}

.one-rewiew {
  position: absolute;
  right: 35px;
  bottom: -50px;
  width: 740px;
  height: 120px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.05);
  background-color: $white-color;
  @include bg('quote.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  @include desktop-only{
    width: 440px;
    height: initial;
    position: static;
    float: right;
    margin-right: 13px;
    margin-top: -46px;
  }
  @include touch{
    width: 100%;
    height: initial;
    position: static;
    float: none;
    margin-right: 0px;
    margin-top: 30px;
    background-image: none;
    padding-top: 20px;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    margin-left: -10px;
    margin-right: -10px;
    width: initial;
  }

  .room-ico {
    width: 50px;
    height: 50px;
    float: left;
    margin: 20px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    @include touch{
      float: none;
      clear: both;
      margin-top: 0;
      margin-left: 22px;
      position: relative;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .rewiew-text {
    p {
      padding-top: 14px;
      margin-right: 70px;
      font-size: $font-big;
      line-height: 24px;
      @include desktop-only{
        font-size: $font-medium;
        line-height: 24px;
        margin-left: 90px;
        margin-right: 30px;
      }
      @include touch{
        font-size: $font-medium;
        line-height: 24px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 0px;
      }
    }

    .bottom {
      margin-top: 15px;
      display: flex;
      align-items: center;
      @include desktop-only{
        padding-left: 90px;
        width: 100%;
        flex-wrap: wrap;
      }
      @include touch{
        padding-left: 20px;
        padding-right: 0px;
        width: 100%;
        flex-wrap: wrap;
      }

      .review-b-user {
        margin-right: 30px;
        line-height: 30px;
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          margin-right: 5px;
        }
      }

      .review-stars {
        transition: $ui-animation-duration, color $ui-animation-duration;
        margin-top: 2.5px;
        
        .one-star{
            @extend %icon;
            width: 15px;
            height: 15px;
            padding-right: 2.5px;
        
            &.star-yes{
                @extend %i-star;
            }
            
            &.star-no{
                @extend %i-star-empty;
            }
            
        }
        margin-right: 30px;
        margin-top: -3px;
        @include desktop-only{
          min-width: 95px;
        }

        .one-star {
          padding-right: 2.5px;

          i {
            background: linear-gradient(180deg, $white-color 0%, $green-color 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .read-more {
        line-height: 28px;
        font-size: $font-small;
        padding: 0px 20px;
        @include desktop-only{
          line-height: 28px;
          font-size: $font-small;
          padding: 0px 20px;
          display: block;
          margin: 14px 0px 25px 0px;
        }
        @include touch{
          line-height: 28px;
          font-size: $font-small;
          padding: 0px 20px;
          display: block;
          margin: 12px 0px 16px;
          width: 150px;
        }
      }
    }
  }
}

.poker-room-platforms {
  display: flex;
  @include desktop-only{
    margin-top: 223px !important;
  }
  @include touch{
    display: block;
  }

  >div {
    min-width: 45%;
    @include touch{
      min-width: 100%;
    }
  }

  .title {
    font-size: $font-small;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  .right{
    @include touch{
      margin-top: 25px;
    }
  }

  .row-links {
    line-height: 24px;

    .one-link {
      padding-right: 15px;
      @include desktop-only{
        padding-right: 10px;
      }

      a {
        color:  $black-color;

        &:hover {}
      }
    }
  }
}

.accepted-method-pay {
  margin-top: 22px;
  display: flex;
  @include desktop-only{
    flex-wrap: wrap;
  }
  @include touch{
    flex-wrap: wrap;
  }

  .one-accept {
    border: 1px solid $light-color;
    height: 50px;
    flex-basis: 75px;
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    @each $method in dinners, mastercard, neteller, paysafe, skrill, ukash, visa {
      .i-#{$method} {
        @include bg('#{$method}.png');
      }
    }
    @include desktop-only{
      min-width: 110px;
      margin-right: 12px;
      margin-bottom: 14px;
    }
    @include touch{
      min-width: 120px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    i{
      // background-size: contain;
      background-position: center center;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }
  }
}

.poker-room-contacts {
  margin-top: 26px;
  display: flex;
  @include desktop-only{
    margin-top: 10px;
  }
  @include touch{
    display: block;
    margin-top: 10px;
  }

  >div {
    min-width: 45%;
    @include touch{
      min-width: 100%;
    }
  }

  .title {
    font-size: $font-small;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }

  p {
    font-size: $font-small;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .one-contact {
    font-size: $font-small;
    line-height: 18px;
    margin-bottom: 10px;

    >span {
      &:first-child {
        width: 111px;
        font-weight: 300;
        display: inline-block;
        @include desktop-only{
          width: 100%;
          display: block;
        }
        @include touch{
          width: 100%;
          display: block;
        }
      }

      &:last-child {
        font-weight: 400;
      }
    }

    a {
      border-bottom: 1px solid $second-color;

      &:hover {
        text-decoration: none !important;
        border-bottom: 1px solid  $black-color;
      }
    }
  }
}

.poker-room-additional-links {
  padding: 50px 0px 50px 0px;
  margin-top: 100px;
  background: $body-grey-bg-color;
  @include desktop-only{
    padding: 35px 11px;
    margin-top: 85px;
  }
  @include touch{
    padding: 40px 0px;
    margin-top: 50px;
  }

  .container {
    padding-left: 140px;
    @include desktop-only{
      width: 600px;
      margin-left: 75px;
      padding-left: 0px;
    }
    @include touch{
      width: 100%;
      margin-left: 0px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .title {
    font-weight: bold;
    font-size: $font-small;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .block-links {
    ul {
      line-height: 24px;
      font-size: $font-big;
      list-style-type: square;
      margin-left: 35px;
      @include desktop-only{
        line-height: 24px;
        font-size: $font-medium;
      }
      @include touch{
        line-height: 22px;
        font-size: $font-small;
        margin-left: 25px;
      }

      li {
        margin-bottom: 10px;
        @include desktop-only{
          padding-left: 7px;
        }
        @include touch{
          margin-bottom: 6px;
          padding-left: 6px;
        }
      }
    }
  }

  .left {
    width: 42.5%;
    float: left;
    padding-right: 25px;
    @include desktop-only{
      width: 45%;
    }
    @include touch{
      width: 100%;
      float: none;
      padding-right: 0px;
    }
  }

  .right {
    width: 45%;
    float: left;
    padding-left: 25px;
    @include desktop-only{
      padding-left: 18px;
    }
    @include touch{
      width: 100%;
      float: none;
      padding-left: 0px;
    }
  }

}

.visible-xs {
  display: none;
  @include touch{
    display: block;
  }
}

.hidden-xs {
  display: inline-block;
  @include touch{
    display: none;
  }
}

