.header.fixed {
  &.start {
    transform: translateY(0%);
  }
  + main {
    padding-top: 60px;
  }
}

.section-full {}

.section-slim {
  max-width: 920px;
  margin: auto;
  > *:first-child {
    margin-top: 0px;
  }
}

.section-medium {
  max-width: 840px;
  margin-left: 100px;
}

.post-content > * {
  &:first-child {
    margin-top: 45px;
  }
  &:last-child {
    margin-bottom: 45px;
  }
}

.post-header {
  .breadcrumbs {
    margin-bottom: 10px;
    li {
      font-size: 14px;
      line-height: 14px;
      display: inline;
      a {
        color: #227118;
      }
      span {
        color: #227118;
        padding: 0px 5px;
      }
    }
  }
  .post-title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  .author-div {
    font-size: 14px;
    font-weight: bold;
    > span {
      padding-right: 30px;
    }
    .author a, .date {}
    .comments {
      i {
        margin-right: 4px;
        margin-top: -3px;
        vertical-align: middle;
        height: 18px;
        width: 20px;
        display: inline-block;
        background: no-repeat center / contain;
        background-image: url(/src/inline-icons/comment-black.svg) !important;
      }
      span {
        color: #227118;
      }
    }
    .views i {
      margin-right: 4px;
      margin-top: -3px;
      vertical-align: middle;
      height: 18px;
      width: 20px;
      display: inline-block;
      background: no-repeat center / contain;
      background-image: url(/src/inline-icons/eye.svg) !important;
    }
  }
}

.post-content {
  > img:first-child {
    margin-bottom: 0px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    &.big-text {
      color: #000000;
      font-family: "IBM Plex Serif";
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 45px;
      margin-top: 25px;
    }
  }
  blockquote {
    width: 360px;
    max-width: 100%;
    border-top: 10px solid #303030;
    background: #f3f3f3;
    padding: 30px 35px 70px 45px;
    margin: 0px;
    font-family: "IBM Plex Serif";
    font-size: 22px;
    line-height: 34px;
    font-style: italic;
    position: relative;
    &:after {
      content: "";
      background: url(images/my/quote.png) no-repeat;
      width: 110px;
      height: 120px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
    &.quote-1 {
      width: 360px;
      float: right;
      margin-right: -100px;
      margin-left: 25px;
      + *:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    &.quote-2 {
      width: 100%;
      margin-top: 70px;
      margin-bottom: 45px;
    }
    &.quote-3 {
      width: 100%;
      margin-top: 70px;
      margin-bottom: 45px;
      font-size: 18px;
      line-height: 28px;
      padding-bottom: 90px;
      .author {
        line-height: 40px;
        display: flex;
        align-items: center;
        text-align: right;
        float: right;
        margin-right: 50px;
        margin-top: 25px;
        img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
        a {
          font-family: "Open Sans";
          font-size: 14px;
          font-style: normal;
        }
      }
    }
  }
  h1 {
    font-family: "Open Sans";
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    margin-top: 65px;
    margin-bottom: 15px;
  }
  h2 {
    font-family: "Open Sans";
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin-top: 45px;
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 15px;
    color: #333;
  }
  h3 {
    font-family: "Open Sans";
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 45px;
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 15px;
    color: #333;
  }
  .fire {
    border: 1px solid #f3bf00;
    font-size: 18px;
    padding: 15px 0px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
    i {
      margin-right: 4px;
      margin-top: -3px;
      vertical-align: middle;
      height: 31px;
      width: 25px;
      display: inline-block;
      background: no-repeat center / contain;
      background-image: url(/src/inline-icons/fire.svg) !important;
    }
    span {
      border-bottom: 1px solid #2a67b9;
    }
    &:hover {
      text-decoration: none !important;
      span {
        border-bottom: #000000;
      }
    }
  }
  ul {
    list-style-type: square;
    margin-left: 35px;
    margin-top: 0px;
    margin-bottom: 45px;
    margin-top: 25px;
    li {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;
      padding-left: 10px;
    }
  }
  > img {
    max-width: 100%;
    margin-bottom: 45px;
    + span {
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
      line-height: 18px;
      color: #646464;
      margin-bottom: 45px;
      display: block;
      margin-top: -40px;
    }
  }
  iframe {
    margin-bottom: 45px;
    max-width: 100%;
    height: 500px;
    width: 100%;
  }
  .twitter-tweet {
    margin-bottom: 45px !important;
  }
}

.post-bottom {
  padding-bottom: 75px;
  .buttons .btn {
    width: 49.5%;
    &:first-child {
      margin-right: 1%;
    }
  }
  .comments-title {
    font-size: 22px;
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 15px;
    margin-top: 45px;
  }
  .comments .one-comment {
    .comment {
      border-top: 2px solid #f3f3f3;
    }
    .this-comment {
      padding: 20px 0px;
    }
    .reply-comment {
      background: #f8f8f8;
      padding: 20px;
    }
    .comment {
      .comment-header {
        margin-bottom: 10px;
        font-size: 14px;
        display: flex;
        line-height: 30px;
        .author {
          line-height: 30px;
          display: flex;
          align-items: center;
          margin-right: 15px;
          img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
          }
        }
        .date {
          color: #646464;
        }
      }
      .comment-content {
        margin-bottom: 10px;
        img {
          display: block;
          max-width: 100%;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 10px;
        }
        > *:last-child {
          margin-bottom: 0px;
        }
      }
      .comment-bottom .reply {
        font-size: 14px;
        border-bottom: 1px solid #2a67b9;
        &:hover {
          font-size: 14px;
          border-bottom: 1px solid #000000;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 1159px) and (min-width: 960px) {
  .section-medium {
    max-width: 920px;
    margin: auto;
  }
  .post-content blockquote.quote-1 {
    margin-right: 0px;
  }
}

@media (max-width: 959px) and (min-width: 720px) {
  .post-header {
    max-width: 640px !important;
    margin-left: 55px !important;
    .post-title {
      font-size: 42px;
      line-height: 50px;
    }
  }
  .post-content {
    max-width: 540px !important;
    margin-left: 55px !important;
    p {
      &.big-text {
        font-size: 20px;
        line-height: 32px;
      }
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 35px;
    }
    blockquote {
      font-size: 20px;
      line-height: 30px;
      font-size: 18px;
      line-height: 28px;
      padding: 30px 30px 70px 30px;
      &.quote-1 {
        width: 230px;
      }
    }
    h1 {
      font-size: 28px;
      line-height: 34px;
    }
    h2 {
      font-size: 24px;
      line-height: 30px;
    }
    blockquote {
      &.quote-2 {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &.quote-3 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 26px;
      }
    }
    .fire {
      font-size: 16px;
    }
    h3 {
      font-size: 20px;
      line-height: 26px;
      margin-top: 35px;
    }
    ul {
      margin-bottom: 35px;
      li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
      }
    }
    > img {
      margin-bottom: 35px;
      + span {
        margin-top: -30px;
        margin-bottom: 35px;
      }
    }
    iframe {
      height: 300px;
    }
    .twitter-tweet {
      margin-bottom: 35px !important;
    }
  }
  .post-bottom {
    max-width: 540px !important;
    margin-left: 55px !important;
  }
}

@media (max-width: 720px) {
  .header.fixed + main {
    padding-top: 143px;
  }
  .post-header {
    max-width: 100% !important;
    margin-left: 0px !important;
    .post-title {
      font-size: 26px;
      line-height: 30px;
    }
    .author-div {
      line-height: 30px;
    }
  }
  .post-content {
    > * {
      &:first-child {
        margin-top: 30px;
      }
      &:last-child {
        margin-bottom: 30px;
      }
    }
    max-width: 100% !important;
    margin-left: 0px !important;
    p {
      &.big-text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
      }
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
    }
    blockquote {
      font-size: 20px;
      line-height: 30px;
      font-size: 18px;
      line-height: 28px;
      padding: 30px 30px 70px 30px;
      &.quote-1 {
        float: none;
        margin: 0px;
        width: 100%;
        margin-bottom: 30px;
      }
    }
    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-top: 45px;
    }
    h2 {
      font-size: 22px;
      line-height: 28px;
    }
    blockquote {
      &.quote-2 {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &.quote-3 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .fire {
      font-size: 16px;
    }
    h3 {
      font-size: 18px;
      line-height: 24px;
      margin-top: 30px;
    }
    ul {
      margin-bottom: 30px;
      li {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
    > img {
      margin-bottom: 30px;
      + span {
        margin-top: -25px;
        margin-bottom: 30px;
      }
    }
    iframe {
      height: 200px;
    }
    .twitter-tweet {
      margin-bottom: 30px !important;
    }
  }
  .post-bottom {
    max-width: 100% !important;
    margin-left: 0px !important;
    .buttons .btn {
      width: 100%;
      margin-bottom: 20px;
      font-size: 16px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    .comments .one-comment .comment .comment-content p {
      font-size: 14px;
      line-height: 20px;
    }
    padding-bottom: 40px;
  }
}

@media (max-width: 500px) {}