.section-slim {
  max-width: 920px;
  margin: auto;
  > *:first-child {
    margin-top: 0px;
  }
}

.section-medium {
  max-width: 920px;
  padding-right: 85px;
  margin-left: 100px;
  @include until-fullhd{
    margin: 0 auto;
  }
  @include desktop-only{
    max-width: 920px;
  }
}

.post-header {
  @include desktop-only{
    max-width: 640px;
    margin-left: 55px;
  }
  @include touch{
    max-width: 100% ;
    margin-left: 0px ;
  }
  .breadcrumbs {
    margin-bottom: 10px;
    li {
      font-size: $font-small;
      line-height: 14px;
      display: inline;
      a {
        color: $green-color;
      }
      span {
        color: $green-color;
        padding: 0px 5px;
      }
    }
  }
  .post-title {
    font-size: $title-font-extra-biggest;
    line-height: 60px;
    letter-spacing: -0.8px;
    @include desktop-only{
      font-size: $title-font-extra-big;
      line-height: 50px;
    }
    @include touch {
      font-size: $font-very-large;
      line-height: 30px;
    }
  }
  .author-div {
    font-size: $font-small;
    margin-top: 13px;
    @include desktop {
      display: flex !important;
    }
    @include touch{
      line-height: 30px;
    }
    .author_pro{
      position: relative;
      padding-left: 33px;
      &:before{
        content: 'pro';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #b93b34;
        width: 28px;
        height: 12px;
        color: #fff;
        text-align: center;
        line-height: 12px;
        text-transform: uppercase;
        font-size: 10px;
      }
    }
    div {
      > span {
        padding-right: 30px;
      }
    }
    
    .comments {
      i {
        margin-right: 4px;
        margin-top: -3px;
        vertical-align: middle;
        height: 18px;
        width: 20px;
        display: inline-block;
        background: no-repeat center / contain;
        @include bg('comment-black.svg');
      }
      span {
        color: $green-color;
      }
    }
    .views {
      i {
        margin-right: 4px;
        margin-top: -3px;
        vertical-align: middle;
        height: 18px;
        width: 20px;
        display: inline-block;
        background: no-repeat center / contain;
        @include bg('eye.svg');
      }
    }
  }
}

.post-image{
  @include mobile {
    margin-left: -$header-mobile-padding;
    margin-right: -$header-mobile-padding;
  }
  img{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

%post-container{
  @include desktop-only{
    max-width: 600px;
    padding-right: 65px;
  }
  @include touch{
    max-width: 100%;
    margin-left: 0px;
    padding-right: 0;
  }
}

.post-content {
  @extend %post-container;
  > * {
    &:first-child {
      margin-top: 45px;
      @include touch{
        margin-top: 30px;
      }
    }
    &:last-child {
      margin-bottom: 45px;
      @include touch{
        margin-bottom: 30px;
      }
    }
  }

  > img:first-child {
    margin-bottom: 0px;
  }

  p {
    font-size: $font-big;
    line-height: 28px;
    margin-bottom: 30px;
    @include desktop-only{
      font-size: $font-medium;
      line-height: 24px;
      margin-bottom: 35px;
    }
    @include touch{
      font-size: $font-small;
      line-height: 20px;
      margin-bottom: 30px;
    }
    &.big-text {
      color:  $black-color;
       @include font('header');
      font-size: $font-large;
      line-height: 34px;
      margin-bottom: 30px;
      margin-top: 15px;
      @include desktop-only{
        font-size: $font-extra-big;
        line-height: 32px;
      }
      @include touch{
        font-size: $font-medium;
        line-height: 24px;
        // margin-bottom: 30px;
      }
    }
    > a{
      text-decoration: underline;
    }
  }

  .blockquote-row{
    display: flex;
    align-items: flex-start;
    @include touch{
      flex-direction: column;
    }
    p{
      min-width: 547px;
      @include until(1080px){
        min-width: 350px;
      }
      @include touch{
        min-width: 0;
        width: 100%;
      }
    }
    blockquote{
      min-width: 360px;
      width: 360px;
      margin: 0 0 0 20px;
      height: 100%;
      @include until(1080px){
        min-width: 230px;
        width: 230px;
        font-size: $font-extra-big;
        line-height: 30px;
        padding: 20px 28px 70px;
      }
      @include touch{
        min-width: 0;
        width: 100%;
      }
      @include mobile{
        font-size: $font-big;
        line-height: 28px;
      }
    }
  }

  blockquote {
    width: 100%;
    border-top: 10px solid $light-gray;
    background: $light-color;
    padding: 30px 40px 60px;
    font-size: $font-large;
    line-height: 34px;
    font-style: italic;
    letter-spacing: -0.8px;
    position: relative;
    height: auto;
    margin: 70px 0 10px;
    @include font('header');

    @include desktop-only{
      margin: 30px 0;
      font-size: $font-extra-big;
      line-height: 30px;
      padding: 20px 28px 70px;
    }
      
    @include touch {
      font-size: $font-extra-big;
      line-height: 30px;
      padding: 30px 30px 70px 30px;
    }

    @include mobile{
      font-size: $font-big;
      line-height: 28px;
    }

    &:after {
      content: "";
      @include bg('my/quote.png');
      background-repeat: no-repeat;
      width: 110px;
      height: 120px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
    &.quote-1 {
      
      // @media (max-width: 1159px) and (min-width: 960px) {
      @include tablet-only{
        width: 230px;
      }
      @include touch{
        float: none;
        margin: 0px;
        width: 100%;
        margin-bottom: 30px;
      }
    }
    &.quote-2 {
      
      @include tablet-only{
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @include touch{
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @include mobile{
        display: none;
      }
    }
    &.quote-3 {
      font-size: $font-big;
      line-height: 28px;
      padding-bottom: 20px;
      @include desktop-only{
        margin-top: 0;
        font-size: $font-medium;
        line-height: 26px;
        padding: 31px 37px;
      }
      @include mobile {
        font-size: $font-medium;
        padding: 10px 20px 17px 17px;
      }
      @include tablet-only {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: $font-medium;
        line-height: 26px;
      }
      @include touch{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: $font-medium;
        line-height: 24px;
      }
      .author {
        line-height: 40px;
        display: flex;
        align-items: flex-end;
        text-align: right;
        width: 25%;
        margin: 30px 0 0 auto;
        @include desktop-only{
          margin: 0 60px 0 auto ;
        }
        @include touch{
          width: 50%;
          margin: 0 auto;
          justify-content: center;
        }
        img {
          width: 40px;
          height: 40px;
          margin-right: 15px;
          border-radius: 50%;
        }
        a {
           @include font('text');
          font-size: $font-small;
          font-style: normal;
        }
      }
    }
  }

  h1 {
    @include font('text');
    font-size: $title-font-large;
    line-height: 38px;
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 15px;
    @include desktop-only{
      font-size: $font-biggest;
      line-height: 34px;
    }
    @include touch{
      font-size: $font-extra-large;
      line-height: 30px;
      // margin-top: 45px;
    }
  }

  h2 {
    @include font('text');
    font-size: $title-font-big;
    line-height: 36px;
    font-weight: 400;
    margin-top: 30px;
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 15px;
    color: $text-default-color;
    @include desktop-only{
      font-size: $font-extra-large;
      line-height: 30px;
    }
    @include touch{
      font-size: $font-large;
      line-height: 28px;
    }
  }

  h3 {
    @include font('text');
    font-size: $font-large;
    line-height: 30px;
    font-weight: 400;
    margin-top: 45px;
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 15px;
    color: $text-default-color;
    @include desktop-only{
      font-size: $font-extra-big;
      line-height: 26px;
      margin-top: 35px;
    }
    @include touch{
      font-size: $font-big;
      line-height: 24px;
      margin-top: 30px;
    }
  }

  .fire {
    border: 1px solid $accent-color;
    font-size: $font-big;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 28px;
    width: 100%;
    @include desktop-only{
      font-size: $font-medium;
    }
    @include touch{
      font-size: $font-medium;
    }
    i {
      margin-right: 18px;
      height: 31px;
      min-width: 25px;
      background: no-repeat center / cover;
      @include bg('fire.svg');
    }
    span {
      text-decoration: underline;
      @include desktop-only{
        width: 250px;
      }
      // font-size: $font-small;
      // max-width: 180px;
    }
    &:hover {
      text-decoration: none !important;
      span {
        border-bottom:  $black-color;
      }
    }
  }

  ul {
    list-style-type: square;
    margin-left: 35px;
    margin-top: 0px;
    margin-bottom: 45px;
    margin-top: 25px;
    @include desktop-only{
      margin-bottom: 35px;
    }
    @include touch{
      margin-bottom: 30px;
    }
    li {
      font-size: $font-big;
      line-height: 24px;
      margin-bottom: 15px;
      padding-left: 10px;
      @include desktop-only{
        font-size: $font-medium;
        line-height: 22px;
        margin-bottom: 10px;
      }
      @include touch{
        font-size: $font-small;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
  }

  > img {
    max-width: 88%;
    margin-bottom: 45px;
    @include desktop-only{
      margin-bottom: 35px;
    }
    @include touch{
      margin-bottom: 30px;
    }
    + span {
      font-size: $font-small;
      font-style: italic;
      font-weight: 300;
      line-height: 18px;
      color: $brand-color;
      margin-bottom: 45px;
      display: block;
      margin-top: -40px;
      @include desktop-only{
        margin-top: -30px;
        margin-bottom: 35px;
      }
      @include touch{
        margin-top: -25px;
        margin-bottom: 30px;
      }
    }
  }

  iframe {
    margin-bottom: 45px;
    max-width: 100%;
    height: 500px;
    width: 100%;
    @include desktop-only{
      height: 300px;
    }
    @include touch{
      height: 200px;
    }
  }

  .twitter-tweet {
    margin-bottom: 45px !important;
    @include desktop-only{
      margin-bottom: 35px !important;
    }
    @include touch{
       margin-bottom: 30px !important;
    }
  }
}

.post-bottom {
  @extend %post-container;
  .buttons{
    .btn {
      width: 49.5%;
      @include touch{
        width: 100%;
        margin-bottom: 20px;
        font-size: $font-medium;
      }
      &:first-child {
        margin-right: 1%;
      }
      &:last-child{
        @include touch{
          margin-bottom: 0px;
        }
      }
    }
  }

  .comments-title {
    font-size: $font-large;
    border-bottom: 2px solid $light-color;
    padding-bottom: 15px;
    margin-top: 45px;
  }
  .comments {
    .one-comment {
      .comment {
        border-top: 2px solid $light-color;
      }
      .this-comment {
        padding: 20px 0px;
      }
      .reply-comment {
        background: $light-color;
        padding: 20px;
      }
      .comment {
        .comment-header {
          margin-bottom: 10px;
          font-size: $font-small;
          display: flex;
          line-height: 30px;
          .author {
            line-height: 30px;
            display: flex;
            align-items: center;
            margin-right: 15px;
            img {
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }
          }
          .date {
            color: $brand-color;
          }
        }
        .comment-content {
          margin-bottom: 10px;
          img {
            display: block;
            max-width: 100%;
            margin-bottom: 10px;
          }
          p {
            font-size: $font-medium;
            line-height: 22px;
            margin-bottom: 10px;
            @include touch{
              font-size: $font-small;
              line-height: 20px;
            }
          }
          > *:last-child {
            margin-bottom: 0px;
          }
        }
        .comment-bottom {
          .reply {
            font-size: $font-small;
            border-bottom: 1px solid $second-color;
            &:hover {
              font-size: $font-small;
              border-bottom: 1px solid  $black-color;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

