@include r-with('sections') {

    section {
        padding-top: u(2);

        &.section{
            @include mobile {
                padding-left: $header-mobile-padding;
                padding-right: $header-mobile-padding;
            }
        }

        &.section-grey {
            @include r-offset('section-grey/vertical-offset', pv);

            background: $body-grey-bg-color;

            .section-title {
                margin-bottom: 4px;
            }
        }

        .section-two-col {
            @include r-row();

            .section-col {
                @include r-col('two-col/col');
            }
        }

        .section-footer {
            @include r-offset('footer/offset', pv);

            text-align: center;
        }
        
    }

}
