section {

    .tag-title {
        font-size: $title-font-biggest;
        line-height: 58px;

        @include desktop-only {
            font-size: $title-font-extra-large;
            line-height: 50px;
        }

        @include touch {
            font-size: $font-extra-large;
            line-height: 30px;
        }
    }

    .tag-subtitle {
        font-size: $font-extra-big;
        line-height: 30px;
        font-weight: 600;
        margin-top: 30px;
        @include desktop-only{
            margin-top: 26px;
            line-height: 26px;
        }
        @include touch {
            font-size: $font-medium;
            line-height: 26px;
            margin-top: 20px;

            br {
                display: none;
            }
        }
    }

    .tag-text {
        font-size: $font-big;
        line-height: 28px;
        margin-top: 30px;
        padding-right: 100px;

        @include desktop-only {
            padding-right: 40px;
            margin-top: 24px;
            line-height: 26px;
        }

        @include touch {
            font-size: $font-small;
            line-height: 20px;
            margin-top: 20px;
            padding-right: 0px;
        }
    }

    .tag-useful-links {
        list-style-type: square;
        margin-left: 35px;
        margin-top: 25px;
        margin-right: 100px;
        @include touch{
            margin-top: 20px;
            margin-right: 0;
        }

        li {
            font-size: $font-big;
            line-height: 24px;
            margin-bottom: 10px;
            padding-left: 5px;
            @include desktop-only{
                font-size: $font-medium;
                line-height: 22px;
            }
            @include touch {
                font-size: $font-small;
                line-height: 20px;
                margin-bottom: 10px;
            }

            a {
                color: $link-color;
                text-decoration: none !important;
                border-bottom: 1px solid $link-color;

                &:hover {
                    border-bottom: 1px solid $text-black-color;
                }

            }

        }

    }

    .link-underline {
        border-bottom: 1px solid $link-color;

        &:hover {
            text-decoration: none !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
    }

    .posts-list-title {
        font-size: $font-small;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include desktop-only{
            margin-top: -24px;
        }

        @include touch {
            margin-top: -24px;
            margin-bottom: 16px;
        }
    }

    .section-list-more {
        margin: 16px 0px 181px 0px;
        text-align: center;

        @include desktop-only {
            margin: 10px 0px 80px 0px;
        }

        @include touch {
            margin: 6px 0px 61px 0px;
        }
    }

}


.post {
    .post-title {
        @include touch {
            font-size: $font-medium;
        }

        @include mobile {
            font-size: $font-small;
        }
    }

    .post-description {
        @include touch {
            display: none !important;
        }
    }
}

.section{
    &.with-bg-tablet{
        @include desktop-only{
            margin-top: 42px;
            background-color: $body-grey-bg-color;
        }
        @include touch{
            margin-top: 30px;
            background-color: $body-grey-bg-color;
        }
    }
}