@include r-with('collection/posts-list') {

    .posts-list {
        @include r-row();

        .post {
            @include r-col('col');
            @include desktop-only{
                flex: 0 0 33.33%;
                max-width: 33.33%;
                margin-bottom: 30px;
            }
            @include touch{
                flex: 0 0 33.33%;
                max-width: 33.33%;
                margin-bottom: 30px;
            }
            @include mobile {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 20px;
            }
        }
    }

    .section-two-col .posts-list {

        .post {
            @include r-col('two-col', false);
        }
    }

    .section-grey .posts-list {

        .post {
            @include r-col('section-grey/col');

            .post-title {
                @include r-font('section-grey/title-font');
            }

            &:last-child {
                display: none;

                @include r-each-if('section-grey/show-last') {
                    display: block;
                }
            }
        }
    }
}
