$accent-color: #f3bf00;
$second-color: #2a67b9;

$header-bg-color: #312a26;
$body-bg-color: #ffffff;
$white-bg-color: #ffffff;
$body-grey-bg-color: #f9f9f9;

$footer-rooms-bg-color: #2b2521;

$offer-bg-color: $second-color;
$offer-accent-bg-color: $accent-color;

$posts-label-color: #000000;
$posts-label-bg-color: $accent-color;

$nav-border-color: $accent-color;

$btn-white-border-color: #fff;

$text-default-color: #333333;
$text-white-color: #ffffff;
$text-black-color: #000000;
$title-color: $second-color;
$link-color: $second-color;

$main-nav-bg-color: $second-color;
$main-nav-title-color: #001f56;
$main-nav-item-color: #ffffff;
$main-nav-selected-color: $accent-color;
$main-menu-open-bg-color: $accent-color;
$main-menu-close-bg-color: #001f56;

$vip-chat-bg-color: $accent-color;
$vip-chat-select-bg-color: $main-nav-bg-color;
