$icons: (
    right-arrow: 'arrow.svg',
    down-arrow: 'arrow.svg',
    close: 'close.svg',
    help: 'help.svg',
    burger: 'menu-burger.svg',
    pattern: 'pattern.svg',
    logo-full: 'pokeroff-logo-full.svg',
    logo-k: 'pokeroff-logo-k.svg',
    logo-sign: 'pokeroff-logo-sign.svg',
    logo-sign-c: 'pokeroff-logo-sign-contour.svg',
    facebook: 'soc-facebook.svg',
    rss: 'soc-rss.svg',
    skype: 'soc-skype.svg',
    telegram: 'soc-telegram.svg',
    whatsapp: 'soc-whatsapp.svg',
    email: 'soc-email.svg',
    twitter: 'soc-twitter.svg',
    vkontakte: 'soc-vk.svg',
    youtube: 'soc-youtube.svg',
    star: 'star.svg',
    star-black: 'star-black.svg',
    star-empty: 'star-empty.svg',
    star-empty-black: 'star-empty-black.svg',
);
